.products-box {
    padding: 0px 83px;
}

.products {
    margin-top: 50px;
    margin-bottom: 56px;
}

.products .block a img {
    float: left;
}

.products .block {
    float: left;
    margin: 15px;
    display: block;
    height: 370px;
    width: 370px;
    position: relative;
}

.products a .text {
    display: none;
    height: 368px;
    width: 368px;
    background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid #9c9c9c;
}

.products a .text h4 {
    color: #212121;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.products a .text p {
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 15px 15px;
}

.products a .text img {
    float: none;
    margin-top: 80px;
}

.products a:hover .text {
    display: block;
}

.related-products {
    margin-bottom: 120px;
}

.related-products .block a img {
    float: left;
}

.related-products .block {
    float: left;
    margin-right: 30px;
    display: block;
    height: 370px;
    width: 370px;
    position: relative;
}

.related-products .block:nth-child(3n) {
    margin-right: 0px;
}

.related-products a .text {
    display: none;
    height: 368px;
    width: 368px;
    background-color: #ffffff;
    opacity: 0.9;
    position: absolute;
    top: 0;
    text-align: center;
    border: 1px solid #9c9c9c;
}

.related-products a .text h4 {
    color: #212121;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}

.related-products a .text p {
    color: #6c6c6c;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 15px 15px;
}

.related-products a .text img {
    float: none;
    margin-top: 80px;
}

.related-products a:hover .text {
    display: block;
}