{% load static %}

<div class="slider">
    <div class="header clearfix">
        <a href="{% url 'index' %}" class="logo"></a>
        {% include 'online_store/Includes/menu.html' %}
    </div>
    <div class="text-slider">
        <h3 class="green">тенденции {% now 'Y' %} года</h3>
        <h3 class="big"> удобные стулья</h3>
        <p>Новый уровень комфорта. Отличные характеристики.</p>
        <a href="#" class="button-order">заказать <img src="{% static 'online_store/img/arrow.png' %}" alt=""></a>
    </div>
    <div class="navi">
        <a href="#"></a><a href="#"></a><a href="#"></a>
    </div>
</div>