{% extends 'authnapp/base.html' %}
{% load widget_tweaks %}

{% block title %}
{{ title|title }}
{% endblock %}

{% block content %}
<div class="w-75 p-5">
    {% if user.is_authenticated %}
    <div class="alert alert-primary" role="alert">
        Вы уже выполнили вход!
    </div>
    {% else %}
    {% if login_form.errors %}
    <div class="alert alert-danger" role="alert">
        Your username and password didn't match. Please try again.
    </div>
    {% endif %}
    <form action="{% url 'auth:login' %}" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {% for field in login_form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}:</label>
            {{ field }}
        </div>
        {% endfor %}
        <button name="submit" class="btn btn-dark">Войти</button>
        <a href="{% url 'auth:register' %}" class="btn btn-outline-dark" tabindex="-1" role="button"
           aria-disabled="true">Зарегистрироваться</a>
    </form>
    {% endif %}
</div>
{% endblock %}
