{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Категории</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Категории
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>К товарам</th>
                            <th>Создано</th>
                            <th>Обновлено</th>
                            <th>Активный</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Название</th>
                            <th>К товарам</th>
                            <th>Создано</th>
                            <th>Обновлено</th>
                            <th>Активный</th>
                            <th>Удалить</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for category in object_list %}
                        <tr {% if not category.is_active %} style="opacity: 0.5;" {% endif %}>
                            <td><a href="{% url 'staff:category_update' category.id %}"
                                   style="color: dodgerblue">{{ category.name|title }}</a></td>
                            <td>
                                <a href="{% url 'staff:products' category.id %}"
                                   class="btn btn-warning" tabindex="-1"
                                   role="button" aria-disabled="true">Товары категории</a>
                            </td>
                            <td>{{ category.created_at }}</td>
                            <td>{{ category.updated_at }}</td>
                            <td class="text-center">
                                {% if product.is_active %}
                                <i class="fa fa-check-circle"></i>
                                {% else %}
                                <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a {% if not category.is_active %} class="invisible" {% endif %}
                                   href="{% url 'staff:category_delete' category.id %}">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'staff:category_create' %}">
                    <button class="btn btn-success">Создать категорию товаров</button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
