{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <h1 class="mt-4">Товары категории {{ category.name }}</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Товары
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Создано</th>
                            <th>Обновлено</th>
                            <th>Активный</th>
                            <th>Удалить</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Название</th>
                            <th>Создано</th>
                            <th>Обновлено</th>
                            <th>Активный</th>
                            <th>Удалить</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for product in products %}
                        <tr {% if not product.is_active %} style="opacity: 0.5;" {% endif %}>
                            <td><a href="{% url 'staff:product_update' product.id %}"
                                   style="color: dodgerblue">{{ product.name|title }}</a></td>
                            <td>{{ product.created_at }}</td>
                            <td>{{ product.updated_at }}</td>
                            <td class="text-center">
                                {% if product.is_active %}
                                <i class="fa fa-check-circle"></i>
                                {% else %}
                                <i class="fa fa-times-circle"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a {% if not product.is_active %} class="invisible" {% endif %}
                                   href="{% url 'staff:product_delete' product.id %}">
                                    <i class="fa fa-times-circle"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <a href="{% url 'staff:product_create' category.pk %}">
                    <button class="btn btn-success">Создать новый товар</button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}
