{% extends 'online_store/base.html' %}
{% load static %}
{% load product_tag %}

{% block title %}
{{ title|title }}
{% endblock %}

{% block header %}
{% include 'online_store/Includes/slider.html' %}
{% endblock %}

{% block content %}
<div class="featured">
    <div class="featured-menu">
        <a class="active" href="#">Популярные</a><a href="#">Новинки</a>
    </div>
    <a class="explore" href="{% url 'products:products'%}">показать все <img src="{% static 'online_store/img/arrow.png' %}" alt=""></a>
    <div class="clearfix-custom">
    </div>
    {% get_last_products %}
</div>

{% endblock content %}
