{% extends 'online_store/base.html' %}
{% load static %}

{% block title %}
{{ title|title }}
{% endblock %}

{% block header %}
{% include 'online_store/Includes/slider.html' %}
{% endblock %}

{% block content %}
<div class="featured">
    <div class="featured-menu">
        <a class="active" href="#">Популярные</a><a href="#">Новинки</a>
    </div>
    <a class="explore" href="{% url 'products:products'%}">показать все <img src="{% static 'online_store/img/arrow.png' %}" alt=""></a>
    <div class="clearfix-custom">
    </div>
    <div class="tab-content">
        {% for product in products %}
        <div class="block">
            <a href="{% url 'products:product_detail' slug=product.slug %}"><img
                    src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="text">
                    <img src="{% static 'online_store/img/icon-hover.png' %}" alt="img">
                    <h4>{{ product.short_desc }}</h4>
                    <p>{{ product.description }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
