{% extends 'online_store/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="w-75 p-5">
    <form action="{% url 'auth:login' %}" method='post' enctype='multipart/form-data'>
        {% csrf_token %}
        {% for field in login_form %}
        <div class="mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
        </div>
        {% endfor %}
        <button name="submit" class="btn btn-dark">Войти</button>
    </form>
</div>
{% endblock %}
