{% extends 'online_store/base.html' %}
{% load static %}

{% block title %}
{{ title|title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/mainapp/style.css">
{% endblock %}

{% block content %}
{% include 'online_store/Includes/main_header.html' %}
<div class="details">
    <div class="links clearfix">
        <ul class="links-menu">
            {% for link in links_menu %}
            <li>
                <a href="{{ link.href }}"
                   class="{% if request.resolver_match.url_name == link.href %}active{% endif %}">{{ link.name }}</a>
            </li>
            {% endfor %}
            <li><a href="#" class="active">все</a></li>

        </ul>
    </div>

    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img src="{% static 'online_store/img/slider1.jpg' %}">
            </div>
            <div class="slider-control">
                {% for product in slider_products %}
                <div class="block">
                    <a href="#"><img src="{% static product.img %}" alt="">
                        <div class="text">{{ product.text }}</div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">Отличный стул</h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price"> 2585.9 <span>руб</span></p>
            <a href="#" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                {% for description in description_list %}
                <p>{{ description }}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="related">
        <div class="title clearfix">
            <h2>Похожие продукты</h2>
            <a class="explore" href="#">показать все <img src="{% static 'online_store/img/arrow.png' %}" alt=""></a>
        </div>
        <div class="related-products clearfix">
            <div class="block">
                <a href="#"><img src="{% static 'online_store/img/product-11.jpg' %}" alt="">
                    <div class="text">
                        <img src="{% static 'online_store/img/icon-hover.png' %}" alt="img">
                        <h4>Стул повышенного качества</h4>
                        <p>Не оторваться. </p>
                    </div>
                </a>
            </div>
            <div class="block">
                <a href="#"><img src="{% static 'online_store/img/product-21.jpg' %}" alt="">
                    <div class="text">
                        <img src="{% static 'online_store/img/icon-hover.png' %}" alt="img">
                        <h4>Стул повышенного качества</h4>
                        <p>Не оторваться. </p>
                    </div>
                </a>
            </div>
            <div class="block">
                <a href="#"><img src="{% static 'online_store/img/product-31.jpg' %}" alt="">
                    <div class="text">
                        <img src="{% static 'online_store/img/icon-hover.png' %}" alt="img">
                        <h4>Стул повышенного качества</h4>
                        <p>Не оторваться. </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
