{% extends 'online_store/base.html' %}
{% load static %}

{% block title %}
{{ title|title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
{% endblock %}

{% block content %}
<div class="details">
    {% include 'mainapp/Includes/product_menu.html' %}
    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
        </div>

        <div class="description">
            <h3 class="big-bold">{{ product.name }}</h3>
            <h3 class="red">{{ product.short_desc }}</h3>
            <p class="price"> {{ product.price }} <span>руб</span></p>
            <a href="{% url 'basket:add' product.pk %}" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>

    {% if related_products %}
    <div class="related">
        <div class="title clearfix">
            <h2>Похожие продукты</h2>
            <a class="explore" href="{% url 'products:category_detail' slug=product.category.slug  %}">показать все
                <img src="{% static 'online_store/img/arrow.png' %}" alt=""></a>
        </div>
        <div class="related-products clearfix">
            {% for product in related_products %}
            <div class="block">
                <a href="#"><img src="{{ product.image.url }}" alt="">
                    <div class="text">
                        <img src="{% static 'online_store/img/icon-hover.png' %}" alt="img">
                        <h4>{{ product.short_desc }}</h4>
                        <p>{{ product.description }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
