{% extends 'online_store/base.html' %}
{% load static %}

{% block title %}
{{ title|title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'mainapp/style.css' %}">
{% endblock %}

{% block content %}
{% include 'mainapp/Includes/product_menu.html' %}
<div class="details-products">
    <div class="details-slider">
        <div class="slider-product">
            <a href="{{ hot_product.get_absolute_url }}">
                <img src="{{ hot_product.image.url }}" alt="{{ product.name }}">
            </a>
        </div>
    </div>

    <div class="description">
        <h3 class="big-bold">{{ hot_product.name }}</h3>
        <h3 class="red">горячее предложение</h3>
        <p class="price">{{ hot_product.price }} <span>руб</span></p>
        <a href="{% url 'basket:add' hot_product.pk %}" class="red-button">
            заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
        <div class="description-text">
            {{ hot_product.description }}
        </div>
    </div>
</div>


<div class="tab-content">
    {% for product in products %}
    <div class="block">
        <a href="{{ product.get_absolute_url }}"><img
                src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="text">
                <img src="{% static 'online_store/img/icon-hover.png' %}" alt="img">
                <h4>{{ product.short_desc }}</h4>
                <p>{{ product.price }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock content %}
